{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}

    <div class="content">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Welcome {{ app.user.firstname }}</p>
            <p>Votre mail: {{ app.user.email }}</p>
        {% else %}
            <p>Welcome Anonymous</p>
        {% endif %}

        {{ path('user',{'id':user.id}) }}
        {% for article in articles %}
            {{ include('conference/conference_details.html.twig') }}
        {% endfor %}

    </div>
{% endblock %}