{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">

        <h1>Conference</h1>
        {{ conferences.id }} - {{ conferences.name }}

        <h1>Update ✅</h1>

        <br>

        <a href="{{ path('conference_remove', {'id': conference.id}) }}">Remove</a>

    </div>
{% endblock %}
