{#{% extends 'base.html.twig' %}#}

{#{% block title %}VIEW CONFERENCE!{% endblock %}#}

{#{% block body %}#}

    {#<div class="content">#}
        {#{% for user in users %}#}
            {#{% for conferences in user.conference %}#}
                {#organisateur : {{ user.firstname }}<br>#}
                {#conference : {{ conferences.name }}<br>#}
                {#<br>#}
            {#{% endfor %}#}
        {#{% endfor %}#}
    {#</div>#}
{#{% endblock %}#}